<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc81">  <td>18/02/05 05:38:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchTrainTest.afterMethod()[pri:0, instance:testCaseLib.SearchTrainTest@6b9651f3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@532854629</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>18/02/05 05:38:48</td>   <td>-7917</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchTrainTest.beforemethod()[pri:0, instance:testCaseLib.SearchTrainTest@6b9651f3]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@532854629</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>18/02/05 05:38:53</td>   <td>-3067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTrainTest.searchTrainMethod()[pri:0, instance:testCaseLib.SearchTrainTest@6b9651f3]">searchTrainMethod</td> 
  <td>main@532854629</td>   <td></td> </tr>
</table>
