<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc81">  <td>18/02/05 05:22:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PlanYourTripTest.afterMethod()[pri:0, instance:testCaseLib.PlanYourTripTest@38bc8ab5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@949057310</td>   <td></td> </tr>
<tr bgcolor="faf8f2">  <td>18/02/05 05:22:39</td>   <td>7646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchTrainTest.afterMethod()[pri:0, instance:testCaseLib.SearchTrainTest@687080dc]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@949057310</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>18/02/05 05:22:19</td>   <td>-11942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PlanYourTripTest.beforemethod()[pri:0, instance:testCaseLib.PlanYourTripTest@38bc8ab5]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@949057310</td>   <td></td> </tr>
<tr bgcolor="faf8f2">  <td>18/02/05 05:22:32</td>   <td>421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchTrainTest.beforemethod()[pri:0, instance:testCaseLib.SearchTrainTest@687080dc]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@949057310</td>   <td></td> </tr>
<tr bgcolor="a4fc81">  <td>18/02/05 05:22:24</td>   <td>-6918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlanYourTripTest.planYourTripMethod()[pri:0, instance:testCaseLib.PlanYourTripTest@38bc8ab5]">planYourTripMethod</td> 
  <td>main@949057310</td>   <td></td> </tr>
<tr bgcolor="faf8f2">  <td>18/02/05 05:22:36</td>   <td>4760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchTrainTest.searchTrainMethod()[pri:0, instance:testCaseLib.SearchTrainTest@687080dc]">searchTrainMethod</td> 
  <td>main@949057310</td>   <td></td> </tr>
</table>
